<h1>
	Handlebars API landing page
</h1>
<p>
	This is the home page.
</p>
<div class='col-sm-4 text-center'>
	<a href='/randomUser' type='button' class='btn btn-primary'>
		Get random user
	</a>

	<a href='/getPosts' type='button' class='btn btn-primary'>
		Get all posts from database
	</a>
</div>